<h1>Sign up</h1>

<form action='/sign_up' method='post'>
	<p><input type='text' name='email' placeholder='Email'></p>
	<p><input type='text' name='name' placeholder='Name'></p>
	<p><input type='text' name='username' placeholder='Username'></p>
	<p><input type='password' name='password' placeholder='Password'></p>
	<p><input type='password' name='password_confirmation' placeholder='Password Confirmation'></p>
	<p><input type='submit' class='button form' value='Sign up'></p>
</form>
