<% if current_user %>
	<form action='/new_cheet' method='post'>
		<p><input type='text' name='cheet' class='post-cheet'></p>
		<p><input type='submit' value='Post!' class='button form'></p>
	</form>

<% else %>
	<p class='must-login'>You must be logged in to add a cheet</p>
<% end %>
	
	<h1>Recent Cheets</h1>
	<div id='cheets'>
		<ul>
			<% @cheets.reverse_each do |element| %>
				<li>
					<p id='single-cheet'><%= element.cheet %></p>
					<p id='cheet-author'>posted by <%= element.user.username %> </p>
				</li>
			<% end %>
		</ul>
	</div>