<html>
	<head>
		<title>Chitter</title>
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
<body>

	<div class='wrapper'>
		<%= partial :header %>
		<%= partial :flash %>

		<div id='container'>
			<%= yield %>
		</div>
	</div>

</body>
</html>